<div class="addContact">
    <form class="form" [formGroup]="reactiveForm">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput required formControlName="name">
            </mat-form-field>
            <mat-form-field hintLabel="Max 10 characters" appearance="fill">
                <mat-label>Mobile</mat-label>
                <input matInput required formControlName="mobile">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="pat@example.com" required formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="fill" required>
                <mat-label>Avatar</mat-label>
                <input matInput required formControlName="image">
            </mat-form-field>
    </form>
    <mat-dialog-actions>
        <button mat-raised-button (click)="createContact(reactiveForm.value)">Create</button>
        <button mat-raised-button mat-dialog-close type="submit">Close</button>
    </mat-dialog-actions>
</div>
