.mainPage{
    display:grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    align-content: center;
    padding: 20px 0;
}
.card{
    display: block;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.contactCard{
    display: flex;
    background-color: white;
    padding: 10px ;
}
.avatar img{
    height: 150px;
    width: 150px;
    border: 2px solid;
    border-radius: 50%;
}
.information{
    display: block;
    position: relative;
    margin: 20px 40px;
    color: var(--greencolor);
}
.information div{
    width: 280px;
    padding: 5px 10px;
    border: 1px solid rgba(128, 128, 128, 0.338);
}

button {
    display: block;
    margin: 10px 0;
    padding: 0px;
    
}
@media (max-width : 968px){
    .mainPage{
        display:grid;
        grid-template-columns: 100%;
        gap: 20px;
        align-content: center;
        
    }
    .avatar img{
        height: 50px;
        width: 50px;
        border: 1px solid;
        border-radius: 50%;
    }
    .information div{
        width: 70px;
        padding: 5px;
        border: 1px solid rgba(128, 128, 128, 0.338);
        font-size: x-small;
    }
    button {
        display: block;
        margin:  0;
        padding: 0px;
        color: var(--redcolor);
    }
    button i{
        font-size: x-small;
        margin: 0;
       
    }

}