<div>
    <div>
        <app-search (searchChange)="searchTextChange($event)"></app-search>
    </div>
    <div class="mainPage" >
        <div class="card" *ngFor="let contact of contacts">
            <div class="contactCard" *ngIf="searchText === ''||(contact.name.toLowerCase().includes(searchText)||contact.mobile.includes(searchText))">
                <div class="avatar">
                    <img [src]="contact.image" alt="avatar">
                </div>
                <div class="information">
                    <div class="name">Name: {{contact.name}}</div>
                    <div class="mobile">Mobile: {{contact.mobile}}</div>
                    <div class="email">Email: {{contact.email}}</div>
                </div>
                <div class="button">
                    <button mat-raised-button (click)="showDetail(contact)"><i class="fa-solid fa-eye"></i></button>
                    <button mat-raised-button (click)="showEditdetail(contact)"><i class="fa-solid fa-pen"></i></button>
                    <button mat-raised-button><i class="fa-solid fa-trash"></i></button>
                </div>
            </div>
        </div>
    </div>

</div>