.main{
    width: 100%;
}
.mainPage{
    display:grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
    align-content: center;
    padding: 1rem 0;
}
.card{
    display: block;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.contactCard{
    display: flex;
    background-color: white;
    padding: 0.5rem ;
}
.avatar img{
    height: 23vh;
    width: 23vh;
    border: 0.2rem solid;
    border-radius: 50%;
}
.information{
    display: block;
    position: relative;
    margin: 1rem 2rem;
    color: var(--greencolor);
}
.information div{
    width: 23vw;
    padding: 0.25rem 0.5rem;
    border: 0.1rem solid rgba(128, 128, 128, 0.338);
}

button {
    display: block;
    margin: 0.5rem 0;
    padding: 0px;
    
}

@media (max-width :1024px){
    .mainPage{
        display:grid;
        grid-template-columns: 100%;
    }
    .card{
        width: 65vw;
    }
    @media (max-width: 968px) {
        .card{
            width: 85vw;
        }
        .avatar img{
            height: 23vw;
            width: 23vw;
        }
        .information{
            margin: 0 1rem;
        }
        .information div{
            font-size: 0.7rem;
            width: 25vw;
        }
        button{
            font-size: 0.7rem;
        }
    }    
}