.mainPage{
    display:grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    align-content: center;
    padding: 20px 0;
}
.changeDisplay{
    display: flex;
    flex-direction: column;
    gap: none;
    padding: 0px;
    margin-right: 50%;
}
.card{
    display: block;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.changeDisplayCard{
    border: none;
    margin: 0;
    padding: 0;
    
}
.contactCard{
    display: flex;
    background-color: white;
    padding: 10px ;
}
.avatar img{
    height: 150px;
    width: 150px;
    border: 2px solid;
    border-radius: 50%;
}
.information{
    display: block;
    position: relative;
    margin: 20px 40px;
    
}
.information div{
    width: 300px;
    padding: 5px 10px;
    border: 1px solid rgb(208, 207, 207, 0.6);
}

button {
    display: block;
    margin: 10px 0;
    padding: 7px;
}

.changeDisplayButton{
    display: flex;
    flex-direction: column;
}
.changeDisplay{
    display: flex;
}
