<div class="edit-contact">
    <div class="avatar">
        <img src={{contact.image}} alt="Avatar">
    </div>
    <div class="input-box" [formGroup]="reactiveForm">
        <div>
            <mat-form-field >
                <input matInput formControlName="name" >
            </mat-form-field>
        </div>
        <div>
            <mat-form-field >
                <input matInput formControlName="mobile" >
            </mat-form-field>
        </div>
        <div>
            <mat-form-field >
                <input matInput formControlName="email" >
            </mat-form-field>
        </div>
        <div>
            <mat-form-field >
                <input matInput formControlName="image" >
            </mat-form-field>
        </div>
    </div>
    <div class="button">
        <button class="mat-raised-button" (click)="onNoClick()">Update</button>
        <!-- <button class="mat-raised-button" mat-dialog-close>Close</button> -->
    </div>
</div>

