<div class="edit-contact">
    <div class="input-box">
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Image">
        <input type="text" placeholder="Mobile">
        <input type="text" placeholder="Mail">
    </div>
    <div class="avatar">
        <img src="/assets/images/avatar1.png" alt="Avatar">
    </div>
    <div class="button">
        <button class="mat-raised-button">Update</button>
        <button class="mat-raised-button">Close</button>
    </div>
</div>

