.edit-contact{
    display: grid;
    grid-template-columns: auto auto;
    background-color: var(--privatecolor);
}
.input-box input{
    display: block;
    width: 500px;
    height: 35px;
    margin: 10px;
}
button{
    margin: 5px;
}
#update{
    background-color: var(--bluecolor);
    color: white;
    border-radius: 5px;
}
#close{
    background-color: rgb(146, 25, 25);
    color: white;
    border-radius: 5px;
}
.avatar{
    margin: 30px;
}
.avatar img{
    border-radius: 50%;
}